/********************************* */
/********* Global resets ********* */
/********************************* */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
    color: #424242;
    line-height: 1.4;

}

/****************************************** */
/********* Form and button resets ********* */
/* Adapted from: https://gist.github.com/anthonyshort/552543 */
/****************************************** */
input,
button {
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
    font-size:13px; /* Browsers have different default form fonts */
    font-family:Arial;
    border:0;
}
input:focus {
    outline:0; /* Remove the outer glow in Webkit */
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
button,
input[type=button] {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    /* Fix IE7 display bug */
    overflow:visible;
    width:auto;
}